<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ sms }}</h2>
    <div id="app">
        
      <h1 v-if="seen" >{{ message }}</h1>
        <button @click="seen=!seen">show / hide</button>
      <h2 v-if="sms<=130">{{ sms }}</h2>
      <h2>{{ abc }}</h2>
      <button @click="sms++">inc+</button><br><br>
      
      <h2 v-if="sms1>120">{{ sms1 }}</h2>
      

      <button @click="sms1--">dec</button>
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
      <input type="text" v-model="message">
      </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    
</body>
<script>
    var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello India!',
    sms: 126,
    abc:5,
    sms1:126,
    seen:false,
    todos: [
      { text: 'Learn JavaScript' },
      { text: 'Learn Vue' },
      { text: 'Build something awesome' },
      { text: 'Hi world'}
    ]
  }
})
</script>
</html>